[url "git@github.com:"]
	insteadOf = https://github.com/
[fetch]
	prune = true
[pull]
	rebase = false
[alias]
	lg1 = log --color --all --pretty='format:%d %Cgreen%h%Creset %an - %s' --graph
	lg2 = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[dd-gitsign]
	username = jamesbibby
[user]
	name = Bibby
	email = james.bibby@datadoghq.com
	signingKey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIA/yi/IG8tnzrIj5ts6UXFZUZ8yE5BcAE51ovSw7+781
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = dd-gitsign
	allowedSignersFile = /home/bits/.config/gitsign/allowed-signers
